{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "quotes": ["warn", "single"],
    "comma-dangle": ["warn", {
      "imports": "never",
      "exports": "never",
      "arrays": "always-multiline",
      "objects": "always-multiline",
      "functions": "never"
    }],
    "space-before-function-paren": [
      "warn",
      "always"
    ]
  }
}
