html, body {
  width: 100vw;
  height: 100vh;
  border: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.canvas {
  width: 100vw;
  height: 100vh;
}

.fps-viewer {
  position: absolute;
  top: 0;
  left: 0;
  padding: 12px;
  font-size: 14px;
  color: #fff;
  background-color: rgba(51, 51, 51, 0.3);
}
